<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/common/global.css">
    <link rel="stylesheet" href="../../css/page/login.css">
    <link rel="stylesheet" href="../../css/responsive/padpro/login-padpro.css">
    <link rel="stylesheet" href="../../css/responsive/pad/login-pad.css">
    <link rel="stylesheet" href="../../css/responsive/padmini/login-padmini.css">
    <link rel="stylesheet" href="../../css/responsive/photo/login-photo.css">
    <title>小米账号</title>
</head>

<body>
    <div class="header">
        <div class="wrapper">
            <a href="" class="login">
                <img src="../../img/login.png" alt="">
            </a>
        </div>
    </div>

    <div class="login-banner">
        <a href="" class="photo-link"></a>
        <div class="login fr">
            <div class="login-method">
                <span class="account-login">帐号登陆</span>
                <span class="sep">|</span>
                <span class="scan-login">扫码登录</span>
            </div>
            <form action="" class="login-mesg-input">
                <input type="text" class="account" placeholder="邮箱/手机号/小米ID">
                <input type="password" class="password" placeholder="密码">
                <button class="submit">登录</button>
            </form>
            <div class="login-tools">
                <p class="reg">
                    <a href="">手机短信登录/注册</a>
                </p>
                <p class="fr">
                    <a href="" class="reg-now"> 立即注册</a>
                    <span class="sep" style="color: #666">|</span>
                    <a href="" class="get-password">忘记密码？</a>
                </p>
            </div>
            <div class="login-others">
                <p>其他方式登录</p>
                <div>
                    <a href="" class="tencent" title="QQ登录">
                        <i class="fa fa-qq"></i>
                    </a>
                    <a href="" class="xinlang" title="新浪登录">
                        <i class="fa fa-weibo"></i>
                    </a>
                    <a href="" class="zhifubao" title="支付宝登录">
                        <i></i>支</a>
                    <a href="" class="weichat" title="微信登录">
                        <i class="fa fa-wechat"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="wrapper">
            <div class="lang-select">
                <a href="">简体中文</a>
                <span class="sep">|</span>
                <a href="">繁体中文</a>
                <span class="sep">|</span>
                <a href="">English</a>
                <span class="sep">|</span>
                <a href="">常见问题</a>
                <span class="sep">|</span>
                <a href="">隐私政策</a>
            </div>
            <div class="copyright">小米公司版权所有-京ICP备10046444-
                <img src="https://account.xiaomi.com/static/res/9204d06/account-static/respassport/acc-2014/img/ghs.png">京公网安备11010802020134号-京ICP证110507号
            </div>
        </div>

    </footer>
</body>

</html>