@media (max-width:768px) {
    .order-content .leftside img {
        width: 270px;
        height: 270px;
    }
    .order-content .rightside {
        width: 450px;
        margin-left: 0px;
    }
    .order-content .rightside>.title {
        font-size: 20px;
    }
    .order-content .rightside .desc {
        font-size: 13px;
    }
    .order-content .rightside>.price {
        font-size: 16px;
    }
    .order-content .rightside .address-bar {
        width: 100%;
        margin: 10px 0;
        padding: 5px 5px;
    }
    .order-content .rightside .address-bar .address {
        font-size: 13px;
    }
    .order-content .rightside .address-bar .product {
        font-size: 13px;
    }
    .order-content .rightside .version-choosing .title,
    .order-content .rightside .color-choosing .title {
        font-size: 14px;
    }
    .order-content .rightside .version-choosing .version-list,
    .order-content .rightside .color-choosing .color-list {
        width: 100%;
    }
    .order-content .rightside .version-choosing .version-list>* {
        width: 49%;
        padding: 5px 5px;
        text-align: center;
    }
    .order-content .rightside .version-choosing .version-list .price {
        margin-left: 30px;
    }
    .order-content .rightside .color-choosing {
        margin-top: 5px;
    }
    .order-content .rightside .color-choosing .color-list>* {
        font-size: 13px;
        width: 24%;
        text-align: center;
        padding: 5px 5px;
    }
}