<div class="header-search">
    <div class="container">
        <div class="logo">
            <a href="">
                <img src="xiaomilogo.png">
            </a>
        </div>
        <div class="main-menu">
            <a href="">小米手机</a>
            <a href="">红米</a>
            <a href="">电视</a>
            <a href="">笔记本</a>
            <a href="">盒子</a>
            <a href="">新品</a>
            <a href="">路由器</a>
            <a href="">智能硬件</a>
            <a href="">服务</a>
            <a href="">社区</a>
        </div>
        <form action="" class="search">
            <input type="text">
            <button class="globalsearch">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>