<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col col-left">
                <a href="">小米商城</a>
                <span class="interval">|</span>
                <a href="">MIUI</a>
                <span class="interval">|</span>
                <a href="">IoT</a>
                <span class="interval">|</span>
                <a href="">云服务</a>
                <span class="interval">|</span>
                <a href="">水滴</a>
                <span class="interval">|</span>
                <a href="">金融</a>
                <span class="interval">|</span>
                <a href="">有品</a>
                <span class="interval">|</span>
                <a href="">Select Region</a>
            </div>
            <div class="col col-right right">
                <a href="">登录</a>
                <span class="interval">|</span>
                <a href="">注册</a>
                <span class="interval">|</span>
                <a href="">消息通知</a>
                <span class="interval">|</span>
                <a href="">购物车</a>
            </div>
        </div>
    </div>
</div>